
:root{
  --blueBtn:#1255b2;
  --redBtn:#d43f39;
  --greenBtn:#72b212;
  --purplefnt:#a037ff;
  --yellow:#fbb146;
  --bteal:#148d88;
  --blueBg:#99ddff;
}

body {
  background: var(--blueBg)!important;
}

.textHeader {
  font-family: 'Luckiest Guy', cursive;
  color:#fff;
  font-size:5.5rem;
  text-shadow: 3px 2px black !important;
  line-height: .9em;
}

.stu-text-title{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size:3rem;
  color:#fff;
}

.lesson-text {
  font-family: 'Poppins', sans-serif;
  font-size: 5rem;
  color:#fff
}

.practice-text {
  font-family: 'Poppins', sans-serif;
  color:#fff
}

.bg-title {
  background-color: var(--yellow)!important;
}

.bg-board{
  background: var(--bteal)!important;
  min-height: 26em;
}

.btn{
  max-width:8em;
}

.buttonize{
  cursor: pointer;
}

.buttonize:checked{
  background-color: rgba(50,50,50,.5);
}

.buttonize:hover{
  background-color: rgba(150,150,150,.5);
}

.grow{
  transition:all .2s linear;
}
.grow:hover{
  transform:scale(1.3)
}

.modalCard {
  position:fixed;
  top:35%;

}

.pictureFrame {
  display: flex;
  align-items: center;

}